<form action="/test">
  <label for="article_title">
    Enter the person you'd like to look up:
  </label>
  <input id="title" name="article_title" type="text" required>
  <label for="guess_age">
    Enter how old you think they are:
  </label>
  <input id="guess" name="guess_age" type="number" placeholder="numbers only, no letters" required>
  <button>
    Go
  </button>
</form>
